### Analyze residential delinquencies in Pittsburgh

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
db = create_engine('postgresql://jon@localhost:5432/propertydb')

In [3]:
pd.read_sql_query("""SELECT usedesc, conditiondesc, COUNT(DISTINCT assessments.parcelid)
FROM assessments

JOIN parcelliens
ON parcelliens.parcelid = assessments.parcelid

JOIN parceldelinquenciespgh
ON parceldelinquenciespgh.parcelid = assessments.parcelid

JOIN parcelviolationspgh
ON parcelviolationspgh.parcelid = assessments.parcelid

WHERE assessments.municode::int < 200
AND assessments.class = 'R'
AND assessments.usedesc NOT IN ('VACANT LAND', 'RES AUX BUILDING (NO HOUSE)')
AND assessments.changenoticeaddress1 NOT LIKE '%%414%%GRANT%%ST%%'

AND parceldelinquenciespgh.prioryears::int >= 5

AND parcelviolationspgh.desc LIKE '%%VACANT%%'
AND parcelviolationspgh.outcome IN ('CONTINUE TO COURT', 'FOLLOW-UP INVESTIGATION SCHEDULED', 'ISSUE CRIMINAL COMPLAINT', 'REFER TO CLEANUP', 'SEND TO CLEAN & LIEN', 'VIOLATION FOUND')

GROUP BY usedesc, conditiondesc
ORDER BY usedesc, conditiondesc, count DESC;""", db)

          usedesc conditiondesc  count
0     FOUR FAMILY          FAIR      1
1     MOBILE HOME          POOR      1
2        ROWHOUSE       AVERAGE      9
3        ROWHOUSE          FAIR     24
4        ROWHOUSE          POOR      7
5        ROWHOUSE       UNSOUND      5
6        ROWHOUSE     VERY POOR      1
7   SINGLE FAMILY       AVERAGE    147
8   SINGLE FAMILY          FAIR    182
9   SINGLE FAMILY          POOR     48
10  SINGLE FAMILY       UNSOUND     20
11  SINGLE FAMILY     VERY POOR     11
12   THREE FAMILY       AVERAGE      1
13   THREE FAMILY          FAIR      5
14      TOWNHOUSE       AVERAGE      3
15     TWO FAMILY       AVERAGE     10
16     TWO FAMILY          FAIR     11
17     TWO FAMILY          POOR      3
18     TWO FAMILY       UNSOUND      2
19     TWO FAMILY     VERY POOR      1